<!DOCTYPE html>
<html lang="en">
<head>
    <title>Booking</title>
    <link href="style.css" rel="stylesheet">
    <nav class="cNav">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Pages</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/home">Home</a>
            </div>
        </div>
        <script>
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }
        </script>
    </nav>
</head>
<body>
    <div class="pHeader">
    <h1>BOOK A FLIGHT</h1>
    </div>
    <form action="/ticketP" name="selectF" method="post" id="ticketI">
        <div class="ticketF">
            <label class="form-label" for="type-trip">Choose round trip or one way</label>
            <select id="selectType" name="selectType">
                <option value="roundTrip" >Round Trip</option>
                <option value="OneWay">One Way</option>
            </select>
            <div>
            <label class="form-label" for="depart" >Departing From:</label>
            <select id="depart" name="depart">
                <option value="SaltLake">Salt Lake (UT)</option>
                <option value="LosAngeles">Los Angeles (CA)</option>
            </select>
            </div>
            <div>
                <label class="form-label" >Destination:</label>
                <select id="destination" name="destination">
                    <option value="SaltLake">Salt Lake (UT)</option>
                    <option value="LosAngeles">Los Angeles (CA)</option>
                </select>
            </div>
            <input type="submit" value="Submit" name="submitB" onclick="finalForm()">
        </div>
    </form>
</body>
</html>