<!DOCTYPE html>
<html lang="en">
<head>
    <title>Purchased Ticket</title>
    <link href="/public/style.css" rel="stylesheet">
    <script src="index.js"></script>
    <style>
        .cNav{
            background-color: black;
            border: 2px gray solid;
            border-radius: 5px;
            padding: 2px;}
        .dropbtn {
            background-color: gray;
            color: white;
            font-size: large;}
        .dropdown{
            position: relative;
            display: inline-block;}
        .dropdown-content{
            display: none;
            background-color: black;}
        .dropdown-content a {
            color: white;
            text-decoration: none;}
        .show {
            display: block;}
        .titleP {
            text-align: center;
        }
    </style>
    <nav class="cNav">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Pages</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/home">Home</a>
            </div>
        </div>
        <script>
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }
        </script>
    </nav>
</head>
<body id="borderS">
    <h1 class="titleP">Purchased Ticket(s)</h1>
    <style>
        #tick {background-color: white;
            border: 2px black solid;
            border-radius: 2px;
            width: 400px;
            left: 40%;
            padding: 5px;
            margin: auto;}
    </style>
    <hr></hr>
    <h2 class="titleP">Thank you for purchasing your ticket with us! We hope you come back soon and fly with Joseph's Airline.</h1>
    <hr></hr>
    <h2 class="titleP">You can see your ticket details down below:</h1>
    
    <div id="tick">
        <h2> Ticket </h2>
        <p><%= ticket.depart%> - <%= ticket.destination %></p>
        <p><%= ticket.selectType %></p>
        <p><%= ticket.class %></p>
    </div>
</body>
</html>