<!DOCTYPE html>
<html lang="en">
<head>
    <title>Purchase Ticket</title>
    <link type="text/css" href="style.css" rel="stylesheet">
</head>
<body>
    <h1>Purchase Ticket</h1>

    <div class="box">
        <h2> Ticket </h2>
        <p><%= ticket.depart%> - <%= ticket.destination %></p>
        <p><%= ticket.selectType %></p>
        <p><%= ticket.class %></p>
    </div>

</body>
</html>